HOST: http://typekit.com/api/desktop_v1


--- Typekit Desktop API v1 ---
---
### About this documentation
This documentation describes the RESTful APIs provided by the Adobe Typekit service to anable the integration of the desktop font sync feature 
into Adobe point products.

For API examples this document uses two font families: 

* Coquette (id drjf) with Ligth, Regular and Bold variations
* Proxima Nova (id vcsm) with Black, Thin and Regular variations. For 

Each font_id used matches the actual typekit data. Data which is temporary, such as tokens, is mocked up using all caps.

### Authentication
The API requests are authenticated by validating the OAuth bearer token issued by IMS and included in the request header. 
Since the token contains both the user id and the client id the typekit service can use it to authenticate the user and track the origin of the request.
The requests are valid for the duration of the access token.

### Request rate limiting
Version 1 of this API is intended for internal Adobe use. As such there are no enforced request rate limits

### Data structures
All request and response data is represented as JSON. XML is not supported.

The Typekit service maintains user specific selection of fonts which are synced to authorized desktop computers. 
While the user modifies the font selection based on complete font families the underlying data is font variation based.
The font selection API is therefore also font variation based thus allowing the client software to add a specific font style to the selection collection.

#### Font variation JSON object:

    {
        "font_id": "TkD-99-abcd",
        "name": "Condensed Itallic",
        "family": {
            "id": "drjf",
            "name": "Coquette",
            "links": "https://typekit.com/api/desktop_v1/font_family/drjf"
        }
    }

#### Font family JSON object:

    {
        "id": "drjf",
        "name": "Coquette",
        "biography": "Coquette, designed in 2001, could be the result of a happy marriage of Kabel and French Script. According to Mark, \"The idea for this typeface got stuck in my head in the early â€™90s. To me, it feels like it has always existed, even though Iâ€™ve never seen anything quite like it. I am happy to offer this unique yet strangely familiar script.\"",
        "links": {
            "self": "https://typekit.com/api/desktop_v1/font_family/drjf",
            "html": "https://typekit.com/fonts/coquette",
            "purchase": "http://www.fonts.com/findfonts/mondosearchresults.htm?st=12&kid=Coquette"
        }
    }
####Font selection status:

* licensed - the font variation can be added to font selection
* synced - the font variation is already in the font selection
* not-licensed - the font variation exists but the user is not authorized to use it
* not-found - the font id does not match a known font variation

### Editing and comments
This page and all comments can be written in [Markdown](http://daringfireball.net/projects/markdown/syntax) syntax
---

-- Font Download --

Verifies that the API is available

GET /
< 200
< Content-Type: text/html;charset=utf-8
"desktop_v1"

Generates a temporary signed URL to download the font resource.

GET sync/{font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 302
< Content-Type: text/html;charset=utf-8
< Location: https://dnzuu5synxxfk.cloudfront.net/000000000000000000018916/10002/2026/otf?Expires=1370043917&Signature=SHA1_SIGNATURE&Key-Pair-Id=KEYPAIR_ID

-- Sync Font Application Support

List fonts in the sync collection. Returns an array of font families with each listing the available variations.

This action is idempotent.

GET font_selection
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
"[{"family":"Coquette","opaque_id":"drjf","version": "1","variations":["Light","Regular","Bold"]},{"family":"Proxima Nova","opaque_id":"vcsm","version":"1","variations":["Black","Black Italic","Bold","Bold Italic","Extrabold","Extrabold Italic","Thin","Thin Italic","Regular"]}]"

Add fonts to the collection of sync fonts. The action requires family opaque_id and version. 
If version is omitted, the latest version of the requested family will be added to the font selection.


POST font_selection
> X-Access-Token: IMS_ACCESS_TOKEN
> Content-Type: application/json
"[{"opaque_id":"drjf","version": "1"},{"opaque_id":"vcsm","version":"1"}]"
< 200
< Content-Type: application/json

Remove fonts from the collection of sync fonts.

This action is idempotent.

DELETE desktop_v1/font_selection
> X-Access-Token: IMS_ACCESS_TOKEN
> Content-Type: application/json
"[{"opaque_id":"drjf","version": "1"},{"opaque_id":"vcsm","version":"1"}]"
< 200
< Content-Type: application/json

Accepts an array of font id's. It resolves the requested array against the typekit db and returns data conveying the availability of each font. 

GET resolved_sync_fonts?id[]={unique_font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
"[{"family":"Coquette","opaque_id":"drjf","version": "1","status":"licensed","variations":["Light","Regular","Bold"]},{"family":"Proxima Nova","opaque_id":"vcsm","version":"1","status": "quota-exceeded","variations":["Black","Black Italic","Bold","Bold Italic","Extrabold","Extrabold Italic","Thin","Thin Italic","Regular"]}]"

Accepts an array of Postscript font names in Family-Style format (ex. Helvetica-Bold). 
The typekit service will match these to the available sync fonts and return a list of suggested alternatives.
The returned array has the same length and sort order as the array in the request. Fonts that cannot be matched are represented by nil array entries.

GET resolved_system_fonts?id[]={postscript_font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
"[{"family":"Proxima Nova","opaque_id":"vcsm","version":"1","status":"licensed","variations":["Black","Black Italic","Bold","Bold Italic","Extrabold","Extrabold Italic","Thin","Thin Italic","Regular"]}]"

Get user subscription info, specifically provide quota information

GET subscription_info
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json

Get metadata for a font family

GET font_family/{family_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json

