HOST: http://typekit.com/api/desktop_v1


--- Typekit Desktop API v1 ---
---
### About this documentation
This documentation describes the RESTful APIs provided by the Adobe Typekit service to anable the integration of the desktop font sync feature 
into Adobe point products.

For API examples this document uses two font families: 

* Coquette (opaque id drjf) with Ligth, Regular and Bold variations
* Proxima Nova (opaque id vcsm) with Black, Thin and Regular variations. For 

Other font family and sync font properties use consistent but made up values and should not be relied on for actual database queries. 
Data which is temporary, such as tokens, is mocked up using all caps.

### Schema
All API access is over HTTPS, and accessed from the typekit.com/api/desktop_v1 domain. 
All data is sent and received as JSON.

###Client Errors

There are three possible types of client errors on API calls that receive request bodies:

* Sending invalid JSON will result in a 400 Bad Request response.
* Sending the wrong type of JSON values will result in a 400 Bad Request response.
* Sending invalid fields will result in a 422 Unprocessable Entity response.

All error objects have resource and field properties so the client can tell what the problem is. There’s also an error code to let you know what is wrong with the field. These are the possible validation error codes:

* missing - this means a resource does not exist.
* missing_field - this means a required field on a resource has not been set.
* invalid - this means the formatting of a field is invalid. The documentation for that resource should be able to give you more specific information.
* already_exists - this means another resource has the same value as this field. This can happen in resources that must have some unique key (such as Label names).

If resources have custom validation errors, they will be documented with the resource.

### Authentication
The API requests are authenticated by validating the OAuth bearer token issued by IMS and included in the request header. 
Since the token contains both the user id and the client id the typekit service can use it to authenticate the user and track the origin of the request.
The requests are valid for the duration of the access token.

Methods which return publicly available data, such as font family information, do not require authentication.

### Request rate limiting
Version 1 of this API is intended for internal Adobe use. As such there are no enforced request rate limits

### Localization

Human readable text in the response data is localized for the set of languages supported by the Typekit site. 
The desired language can be specified in the Accept-Language field of the content header.
The response will then set the Content-Language header as well as the Vary header.

### Data structures
All request and response data is represented as JSON. XML is not supported.

The Typekit service maintains user specific selection of fonts which are synced to authorized desktop computers. 
While the user modifies the font selection based on complete font families the underlying data is font variation based.
The font selection API is therefore also font variation based thus allowing the client software to add a specific font style to the selection collection.

#### Sync font JSON object

This data represents a single font variation of a particular version as synced to the desktop.

    {
        "id": "TkD-100-2jt9s6h8lq",
        "family_id": "drjf",
        "style": "Thin",
        "family": "Coquette",
        "links": {
            "self": "https://typekit.com/api/desktop_v1/font_variation/TkD-100-2jt9s6h8lq",
            "family": "https://typekit.com/api/desktop_v1/font_family/drjf"
        }
    }

#### Font family JSON object:

    {
        "id": "drjf",
        "name": "Coquette",
        "biography": "Coquette, designed in 2001, could be the result of a happy marriage of Kabel and French Script. According to Mark, \"The idea for this typeface got stuck in my head in the early â€™90s. To me, it feels like it has always existed, even though Iâ€™ve never seen anything quite like it. I am happy to offer this unique yet strangely familiar script.\"",
        "links": {
            "self": "https://typekit.com/api/desktop_v1/font_family/drjf",
            "html": "https://typekit.com/fonts/coquette",
            "purchase": "http://www.fonts.com/findfonts/mondosearchresults.htm?st=12&kid=Coquette"
        }
    }
    
####User Info JSON Object

    {
        "id": "7F8F5A114A01713D9920FAAE@AdobeID",
        "quota_used": 12,
        "quota_total": 30,
        "links": {
            "self": "https://typekit.com/api/desktop_v1/user_info/7F8F5A114A01713D9920FAAE@AdobeID"
        }
    }

####Font selection status:
Some endpoints need to communicate the availability of the requested sync font. The following HTTP standard response codes are used:

* 200 - OK
* 204 - font not selected
* 400 - bad font id
* 401 - expired access token
* 403 - font not licensed
* 404 - font not found

### Editing and comments
This page and all comments can be written in [Markdown](http://daringfireball.net/projects/markdown/syntax) syntax

### Open issues

* Single API vs. desktop specific and general APIs. Namespaces for APIs.
* Single font vs. array CRUD requests
* Client authentication

---

-- Font Download --

Verifies that the API is available

GET /
< 200
< Content-Type: text/html;charset=utf-8
"desktop_v1"

Generates a temporary signed URL to download the font resource.

GET sync/{font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 302
< Content-Type: text/html;charset=utf-8
< Location: https://dnzuu5synxxfk.cloudfront.net/000000000000000000018916/10002/2026/otf?Expires=1370043917&Signature=SHA1_SIGNATURE&Key-Pair-Id=KEYPAIR_ID

-- Metadata
Retrieve user subscription info, specifically provide quota information. Authenticated user must match user_id.

GET user_info/{user_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
"{"user_id":"7F8F5A114A01713D9920FAAE@AdobeID","quota_used":12,"quota_total":30}"
+++++
< 404
< Content-Type: application/json
"{"message":"user not found"}"

Retrieve font family description. Family id is the opaque id assigned to each typekit font family. Returns font family JSON object if found.

Does not require authentication.

GET font_family/{family_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
"{"id":"drjf","name":"Coquette","biography":"Coquette, designed in 2001, could be the result of a happy marriage of Kabel and French Script. According to Mark, \"The idea for this typeface got stuck in my head in the early â€™90s. To me, it feels like it has always existed, even though Iâ€™ve never seen anything quite like it. I am happy to offer this unique yet strangely familiar script.\"","links":{"self":"https://typekit.com/api/desktop_v1/font_family/drjf","html":"https://typekit.com/fonts/coquette","purchase":"http://www.fonts.com/findfonts/mondosearchresults.htm?st=12&kid=Coquette"}}"
+++++
< 404
< Content-Type: application/json
"{"message":"font family not found"}"

Retrieve sync font description

Does not require authentication.

GET sync_font/{font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
"{"id":"TkD-100-2jt9s6h8lq","family_id":"drjf","style":"Thin","family":"Coquette","links":{"self":"https://typekit.com/api/desktop_v1/sync_font/TkD-100-2jt9s6h8lq","family":"https://typekit.com/api/desktop_v1/font_family/drjf"}}"
+++++
< 400
< Content-Type: application/json
"{"message":"bad font variation id"}"
+++++
< 404
< Content-Type: application/json
"{"message":"font variation not found"}"


-- Font Selection

List selected fonts for a particular user. Returns a JSON array of font variation objects.

The example models a user who has all 3 variations of the Coquette font in the font selection.

GET font_selection/{user_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
"[{"font_id":"TkD-100-hdnoine93k","family_id":"drjf","style":"Regular","family":"Coquette","links":{"self":"https://typekit.com/api/desktop_v1/sync_font/TkD-101-hdnoine93k","family":"https://typekit.com/api/desktop_v1/font_family/drjf"}},{"font_id":"TkD-100-8hh82kj02e","family_id":"drjf","style":"Regular","family":"Coquette","links":{"self":"https://typekit.com/api/desktop_v1/sync_font/TkD-100-8hh82kj02e","family":"https://typekit.com/api/desktop_v1/font_family/drjf"}},{"font_id":"TkD-100-2jt9s6h8lq","family_id":"drjf","style":"Thin","family":"Coquette","links":{"self":"https://typekit.com/api/desktop_v1/sync_font/TkD-102-2jt9s6h8lq","family":"https://typekit.com/api/desktop_v1/font_family/drjf"}}]"

Retrieve the description of a particular font variation from the font selection collection.

If the font variation is not selected by the user this method returns 204. The request is correct but there is no content associated with this query.

GET font_selection/{user_id}/{font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
"{"font_id":"TkD-100-8hh82kj02e","family_id":"drjf","style":"Regular","family":"Coquette","links":{"self":"https://typekit.com/api/desktop_v1/sync_font/TkD-100-8hh82kj02e","family":"https://typekit.com/api/desktop_v1/font_family/drjf"}}"
+++++
< 204
< Content-Type: application/json
"{"message": "Font variation not selected"}"
+++++
< 400
< Content-Type: application/json
"{"message": "Font variation id not valid"}"
+++++
< 403
< Content-Type: application/json
"{"message": "Font variation not licensed"}"
+++++
< 404
< Content-Type: application/json
"{"message": "Font variation not found"}"

Add a single font variations to the font selection. 

POST font_selection/{user_id}/{font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
+++++
< 400
< Content-Type: application/json
{"message": "bad request"}
+++++
< 403
< Content-Type: application/json
"{"message": "Font variation not licensed"}"

Remove a font variation from the collection of sync fonts.

DELETE desktop_v1/font_selection/{user_id}/{font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
+++++
< 400
< Content-Type: application/json
{"message": "bad request"}

-- Font Replacement

Accepts a Postscript font name in Family-Style format (ex. Helvetica-Bold). 
This method matches it to the available sync fonts and returns a suggested alternative.

GET resolve_system_font?id={postscript_font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
"{"font_id":"TkD-100-8hh82kj02e","family_id":"drjf","style":"Regular","family":"Coquette","links":{"self":"https://typekit.com/api/desktop_v1/font_variation/TkD-100-8hh82kj02e","family":"https://typekit.com/api/desktop_v1/font_family/drjf"}}"

-- JSON Schema Validations --

