HOST: http://typekit.com/api/desktop_v1


--- Typekit Desktop API v1 ---
---
### About this documentation
This documentation describes the RESTful APIs provided by the Adobe Typekit service to anable the integration of the desktop font sync feature 
into Adobe point products.

For API examples this document uses two font families: 

* Coquette (opaque id drjf) with Ligth, Regular and Bold variations
* Proxima Nova (opaque id vcsm) with Black, Thin and Regular variations. For 

Other font family and font variation properties use consistent but made up values and should not be relied on for actual database queries. 
Data which is temporary, such as tokens, is mocked up using all caps.

### Schema
All API access is over HTTPS, and accessed from the typekit.com/api/desktop_v1 domain. 
All data is sent and received as JSON.

###Client Errors

There are three possible types of client errors on API calls that receive request bodies:

* Sending invalid JSON will result in a 400 Bad Request response.

        HTTP/1.1 400 Bad Request
        Content-Length: 35
        
        {"message":"Problems parsing JSON"}
        
* Sending the wrong type of JSON values will result in a 400 Bad Request response.

        HTTP/1.1 400 Bad Request
        Content-Length: 40
        
        {"message":"Body should be a JSON Hash"} 
        
* Sending invalid fields will result in a 422 Unprocessable Entity response.

        HTTP/1.1 422 Unprocessable Entity
        Content-Length: 149
        
        {
            "message": "Validation Failed",
            "errors": [
            {
                "resource": "FontVariation",
                "field": "font_id",
                "code": "invalid"
            }
            ]
        }

All error objects have resource and field properties so that your client can tell what the problem is. There’s also an error code to let you know what is wrong with the field. These are the possible validation error codes:

* missing - this means a resource does not exist.
* missing_field - this means a required field on a resource has not been set.
* invalid - this means the formatting of a field is invalid. The documentation for that resource should be able to give you more specific information.
* already_exists - this means another resource has the same value as this field. This can happen in resources that must have some unique key (such as Label names).

If resources have custom validation errors, they will be documented with the resource.

### Authentication
The API requests are authenticated by validating the OAuth bearer token issued by IMS and included in the request header. 
Since the token contains both the user id and the client id the typekit service can use it to authenticate the user and track the origin of the request.
The requests are valid for the duration of the access token.

### Request rate limiting
Version 1 of this API is intended for internal Adobe use. As such there are no enforced request rate limits

### Data structures
All request and response data is represented as JSON. XML is not supported.

The Typekit service maintains user specific selection of fonts which are synced to authorized desktop computers. 
While the user modifies the font selection based on complete font families the underlying data is font variation based.
The font selection API is therefore also font variation based thus allowing the client software to add a specific font style to the selection collection.

#### Font variation JSON object:

    {
        "font_id": "TkD-100-2jt9s6h8lq",
        "family_id": "drjf",
        "style": "Thin",
        "family": "Coquette",
        "links": {
            "self": "https://typekit.com/api/desktop_v1/font_variation/TkD-100-2jt9s6h8lq",
            "family": "https://typekit.com/api/desktop_v1/font_family/drjf"
        }
    }

#### Font family JSON object:

    {
        "id": "drjf",
        "name": "Coquette",
        "biography": "Coquette, designed in 2001, could be the result of a happy marriage of Kabel and French Script. According to Mark, \"The idea for this typeface got stuck in my head in the early â€™90s. To me, it feels like it has always existed, even though Iâ€™ve never seen anything quite like it. I am happy to offer this unique yet strangely familiar script.\"",
        "links": {
            "self": "https://typekit.com/api/desktop_v1/font_family/drjf",
            "html": "https://typekit.com/fonts/coquette",
            "purchase": "http://www.fonts.com/findfonts/mondosearchresults.htm?st=12&kid=Coquette"
        }
    }
####Font selection status:
Some endpoints need to communicate the availability of the requested font variation. The following constants are used:

* licensed - the font variation can be added to font selection
* synced - the font variation is already in the font selection
* not-licensed - the font variation exists but the user is not authorized to use it
* not-found - the font id does not match a known font variation

### Editing and comments
This page and all comments can be written in [Markdown](http://daringfireball.net/projects/markdown/syntax) syntax
---

-- Font Download --

Verifies that the API is available

GET /
< 200
< Content-Type: text/html;charset=utf-8
"desktop_v1"

Generates a temporary signed URL to download the font resource.

GET sync/{font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 302
< Content-Type: text/html;charset=utf-8
< Location: https://dnzuu5synxxfk.cloudfront.net/000000000000000000018916/10002/2026/otf?Expires=1370043917&Signature=SHA1_SIGNATURE&Key-Pair-Id=KEYPAIR_ID

-- Sync Font Application Support

List fonts in the sync collection. Returns an array of font families with each listing the available variations.

The example models a user who has all 3 variations of the Coquette font in the font selection.

GET font_selection
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
"[{"font_id":"TkD-100-hdnoine93k","family_id":"drjf","style":"Regular","family":"Coquette","links":{"self":"https://typekit.com/api/desktop_v1/font_variation/TkD-101-hdnoine93k","family":"https://typekit.com/api/desktop_v1/font_family/drjf"}},{"font_id":"TkD-100-8hh82kj02e","family_id":"drjf","style":"Regular","family":"Coquette","links":{"self":"https://typekit.com/api/desktop_v1/font_variation/TkD-100-8hh82kj02e","family":"https://typekit.com/api/desktop_v1/font_family/drjf"}},{"font_id":"TkD-100-2jt9s6h8lq","family_id":"drjf","style":"Thin","family":"Coquette","links":{"self":"https://typekit.com/api/desktop_v1/font_variation/TkD-102-2jt9s6h8lq","family":"https://typekit.com/api/desktop_v1/font_family/drjf"}}]"

Retrieve the description of a particular font variation from the font selection collection.

Returns HTTP status 200 if variation found in font selection or 404 if not found.

GET font_selection/{font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
"{"font_id":"TkD-100-8hh82kj02e","family_id":"drjf","style":"Regular","family":"Coquette","links":{"self":"https://typekit.com/api/desktop_v1/font_variation/TkD-100-8hh82kj02e","family":"https://typekit.com/api/desktop_v1/font_family/drjf"}}"
+++++
< 404
< Content-Type: application/json
"{"message": "Font variation not found"}"
+++++
< 422        
"{"message":"Validation Failed","errors":[{"resource":"FontVariation","field":"font_id","code":"invalid"}]}"

Add a single font variations to the font selection. 

POST font_selection/{font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
+++++
< 400
< Content-Type: application/json
{"message": "bad request"}

Remove a font variation from the collection of sync fonts.

DELETE desktop_v1/font_selection/{font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
+++++
< 400
< Content-Type: application/json
{"message": "bad request"}

Accepts an array of font id's. It resolves the requested array against the typekit db and returns data conveying the availability of each font. 

GET resolved_sync_fonts?id[]={unique_font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
"[{"family":"Coquette","opaque_id":"drjf","version": "1","status":"licensed","variations":["Light","Regular","Bold"]},{"family":"Proxima Nova","opaque_id":"vcsm","version":"1","status": "quota-exceeded","variations":["Black","Black Italic","Bold","Bold Italic","Extrabold","Extrabold Italic","Thin","Thin Italic","Regular"]}]"

Accepts an array of Postscript font names in Family-Style format (ex. Helvetica-Bold). 
The typekit service will match these to the available sync fonts and return a list of suggested alternatives.
The returned array has the same length and sort order as the array in the request. Fonts that cannot be matched are represented by nil array entries.

GET resolved_system_fonts?id[]={postscript_font_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json
"[{"family":"Proxima Nova","opaque_id":"vcsm","version":"1","status":"licensed","variations":["Black","Black Italic","Bold","Bold Italic","Extrabold","Extrabold Italic","Thin","Thin Italic","Regular"]}]"

Get user subscription info, specifically provide quota information

GET subscription_info
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json

Get metadata for a font family

GET font_family/{family_id}
> X-Access-Token: IMS_ACCESS_TOKEN
< 200
< Content-Type: application/json

